@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
html,
body {
  position: relative;
  height: 100%;
}
body {
  background: #FCB23D;
  font-family: Exo, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.slide__content{
  z-index: 2;
  margin-top: 25%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
}
.slide__text{
  padding: 0 50px;
  max-width: 400px;
}
.google{
  position: absolute;
  top: 18%;
  max-width: 900px;
  width: 95vw;
  height: 50vh;
}
.slide__img{
  height: 100vh;
  width: 100vw;
  position: fixed;
  filter: brightness(50%);
}
.swiper{
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev,.swiper-button-next{
    color: #FCB23D;
  &:hover{
    color: #6F2A4A;
    transition: 0.2s all ease-in-out;
    transform: scale(1.2);
  }
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  margin: 0;
}
.swiper-pagination{
  border: 1px solid #FCB23D;
}
.swiper-pagination-bullet{
  opacity: 1;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  width: 200px;
  line-height: 39px;
  /* identical to box height, or 279% */
  background-color: rgba(0,0,0,0);
  color: #FCB23D;
  margin: 0;
  height: 39px;
  border-radius: 0;
}
.pagination__text{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.swiper-pagination-bullet-active{
  color: white;
  background: #6F2A4A;
}
.swiper-slide img{
  width: 100%;
  height: 100vh;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
}
.pagination-wrapper{
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}
.slide__title{
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 46px;
  /* identical to box height, or 130% */
  text-transform: uppercase;
  color: #FFFFFF;
}
.slide__text{
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  /* or 127% */
  color: #FFFFFF;
}
.slide__button{
  background: #FCB23D;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 37px;
  /* identical to box height, or 247% */
  color: #FFFFFF;
  cursor: pointer;
  padding: 2px 5px;
  &:hover{
    background-color: #6F2A4A;
    transition: 0.3s all ease-in-out;
  }
}
.contact{
  max-width: 95%;
  width: 100%;
  margin-top: 80vh;
}
.slide__address{
  max-width: 350px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #FFFFFF;
}
.slide__contacts{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* or 120% */
  text-align: right;
  color: #FFFFFF;
}
.img__wrapper img{
  position: absolute;
  left: 30px;
  top: 42px;
  width: auto;
  height: auto;
}
@media screen and (max-width: 1400px){
  .swiper-pagination-bullet{
    width: 175px;
    font-size: 18px;
  }
}
@media screen and (max-width: 1238px){
  .swiper-pagination-bullet{
    width: 155px;
    font-size: 16px;
  }
  .img__wrapper img{
    width: 180px;
  }
  .slide__content{
    max-width: 500px;
    flex-direction: column;
    justify-content: normal;
  }
  .contact{
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1090px){
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 0;
  }
  .swiper-pagination{
    display: flex;
  }
  .swiper-pagination-bullet{
    font-size: 16px;
    height: 15px;
    background-color: #FCB23D;
    padding: 0;
    margin: 0;
  }
  .swiper-pagination-bullet-active{
    color: white;
    background: #6F2A4A;
  }
  .swiper-button-next:after, .swiper-button-prev:after{
    content: none;
  }
}
@media screen and (max-width: 720px){
  .contact{
    align-items: center;
    margin-top: 70vh;
    .slide__contacts{
      text-align: center;
      max-width: 350px;
    }
    .slide__contacts,.slide__address{
      font-size: 10px;
      width: 50%;
    }
  }
  .google{
    width: 99vw;
  }
  .img__wrapper img{
    left: 2%;
  }
}
@media screen and (max-width: 440px){
  .img__wrapper img{
    left: 30%;
  }
}
@media screen and (max-width: 350px){
  .img__wrapper img{
    left: 20%;
  }
}